<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332247763022-at3pcg1cfkvhrhulcio1ev7a8ghm2k3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332247763022-at3pcg1cfkvhrhulcio1ev7a8ghm2k3r</string>
	<key>API_KEY</key>
	<string>AIzaSyBxY2XXygI1JP8VKAkWhSXq_KlQ2xFRshY</string>
	<key>GCM_SENDER_ID</key>
	<string>332247763022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>twochealthcare.io</string>
	<key>PROJECT_ID</key>
	<string>c-health-care</string>
	<key>STORAGE_BUCKET</key>
	<string>c-health-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332247763022:ios:5657563c2f50a910da9b1f</string>
</dict>
</plist>